
 IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron text-center" style="background-image: url('/images/home-background.jpg'); background-size: cover; height: 300px;">
    <h1>Welcome to KhumaloCraft Emporium</h1>
    <p>Your one-stop shop for exquisite handcrafted products from around the world.</p>
</div>
<div class="container">
    <h2>Featured Products</h2>
    <p>Explore our collection of finely crafted swords and artisan pieces.</p>
</div>