@page
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h2>About Us</h2>
    <p>
        At KhumaloCraft, we specialize in crafting high-quality swords that embody the artistry and tradition of skilled artisans.
    </p>
    <p>
        Our mission is to connect sword enthusiasts with finely crafted blades that showcase the dedication and expertise of our craftsmen.
    </p>
    <p>
        We take pride in the authenticity and craftsmanship of each sword in our collection. Whether you're a collector, practitioner, or enthusiast, you'll find a blade that speaks to you at KhumaloCraft.
    </p>
    <p>
        Thank you for supporting our passion for sword-making and choosing KhumaloCraft for your blade needs.
    </p>
</div>